<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Datos de la persona</title>
</head>
<body>
  <header th:replace="layout/plantilla :: header"></header>
  <h2>[[#{persona.formulario}]]</h2>
  <a th:href="@{/}">[[#{persona.accion.regresar}]]</a>
  <br/>
  <form th:action="@{/guardar}" method="post" th:object="${persona}">
      <input type="hidden" name="id_persona" th:field="*{id_persona}"/>
      <label for="nombre">[[#{persona.nombre}]]:</label>
      <input type="text" name="nombre" id="nombre" th:field="*{nombre}"/>
      <span th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}">Error nombre</span>
      <br/>
      <label for="apellido">[[#{persona.apellido}]]:</label>
      <input type="text" name="apellido" id="apellido" th:field="*{apellido}"/>
      <span th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}">Error apellido</span>
      <br/>
      <label for="email">[[#{persona.email}]]:</label>
      <input type="text" name="email" id="email" th:field="*{email}"/>
      <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Error email</span>
      <br/>
      <label for="telefono">[[#{persona.telefono}]]:</label>
      <input type="text" name="telefono" id="telefono" th:field="*{telefono}"/>
      <br/>
      <button type="submit" name="guardar" value="Guardar">[[#{persona.accion.guardar}]]</button>
  </form>
  <footer th:replace="layout/plantilla :: footer"></footer>
</body>
</html>